# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
*.db
*.bak
*.swp
*.swo
node_modules

# Django migrations
*/migrations/

# User-specific files
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
*.iml
*.sqlite3

env
.gitignore