{% load static %}
<section id="userList" class="bg-slate-800 my-[0.6rem] mx-[0.6rem] flex-1 rounded-md">
    <div class="pb-5 px-[4%] h-[100%] flex flex-col">
        <div class="h-[4.5rem] flex justify-between w-[100%] gap-5 border-b-gray-600 border-b-1">
            <div class="flex items-center">
                <img class="h-12 w-12" src="{% static 'images/logo.png' %}" alt="">
                <h1 class="text-gray-300 font-bold">Chat App</h1>
            </div>
            <div class="flex items-center">
                <i title="New Chat" class="fa fa-plus-square-o cursor-pointer text-gray-300 hover:text-green-500" style="font-size: 1.5rem;"></i> 
            </div>
        </div>
        {% include 'leftbar/friendGroupsList.html' %}
        {% include 'NewGroupModal.html' %}
        <div class="h-[3.5rem] flex items-center">
        </div>
    </div>
</section>