{% load static %}
<section class="bg-slate-800 py-[2rem] flex flex-col gap-5">
    <div class="px-4 py-2 bg-green-600 cursor-pointer hover:bg-green-700">
        <i class='fa fa-comment-o' style='font-size:24px;color: rgb(228, 228, 228);'></i>
    </div>
    <div class="px-4 py-2">
        <i class='fa fa-folder-o' style='font-size:24px;color: rgb(194, 194, 194);'></i>
    </div>
    <form class="px-4 py-2" action="/logout/" method="POST">
        {% csrf_token %}
        <button class="cursor-pointer">
            <i class="fa fa-sign-out" style='font-size:24px;color: rgb(194, 194, 194);'></i>
        </button>
    </form>
    
</section>