{% load static %}
<div id="chatWindow" class="w-[100%] bg-slate-800 h-full rounded-md flex flex-col" hx-ws="connect:ws/awsc/{{group_id}}/" >
    <div class="flex gap-6 border-b-gray-600 border-b-2 h-[4.5rem] items-center px-9">
        <img class="w-11 h-11 rounded-full object-cover" src="media/{{other_user.profile_picture}}" alt="">
        <div>
            <h2 class="text-[16px] font-semibold tracking-wide text-white">{{other_user.username}}</h2>
            <!-- <p class="text-gray-300 text-[0.8rem]">online</p> -->
            <p class="text-gray-300 text-[0.8rem]" hx-get="/user_status/{{other_user.id}}/"  hx-swap="outerHTML" hx-trigger="load every 20s" hx-target="this"></p>
        </div>
    </div>
    <div id="message_window" class="scroll-smooth px-10 my-8 flex flex-col gap-5 flex-1 overflow-y-auto" >
        {% for msg in object_list %}
        <div class="flex gap-5 {% if user.id == msg.sender.id %} flex-row-reverse {% endif %}" >
            <!-- <img class="w-9 h-9 rounded-full object-cover" src="{% static 'images/username1.jpeg' %}" alt=""> -->
            <div class="flex flex-col max-w-[50%] gap-2 ">
                <p class="text-gray-400 text-[0.9rem]">2:00pm</p>
                <div class="bg-gray-300 text-[1rem] py-2 px-3 rounded-tl-md rounded-br-md rounded-bl-md {% if user.id == msg.sender.id %} bg-green-600 text-white {% endif %}">
                    <p class="wrap-break-word">
                        {{msg.content}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="flex gap-5" >
            <!-- <img class="w-9 h-9 rounded-full object-cover" src="{% static 'images/username1.jpeg' %}" alt=""> -->
            <div class="flex flex-col max-w-[50%] gap-2 ">
                <p class="text-gray-400 text-[0.9rem]"></p>
                <div  class="bg-gray-300 text-[1rem] rounded-tl-md rounded-br-md rounded-bl-md">
                    <p id="messageBlock">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <form id="formId" hx-on="htmx:beforeSend=event.preventDefault()" class="flex justify-center gap-5 h-[4.5rem] border-t-gray-600 border-t-2 items-center" ws-send hx-ws="send">
        <button>
            <img src="{% static 'images/mic.svg' %}" class="h-6 w-6"  alt="">
        </button>
        <div class="w-[80%] rounded-[3rem] h-[60%] bg-slate-600">
          <input name="message" class="w-full h-full bg-transparent text-[1rem] placeholder:text-slate-400 placeholder:text-[1rem] outline-none  text-white text-sm  rounded-md px-10" placeholder="Type here..." />
        </div>
        <img src="{% static 'images/attachment1.svg' %}" class="w-[1.5rem] h-[1.5rem]" alt="">
        <button type="submit" class="bg-green-600 p-3 rounded-full cursor-pointer">
            <img src="{% static 'images/send.svg' %}" class="h-5 w-5" alt="">
        </button>
    </form>
</div>

{% block script %}
    <script>
        var form=document.getElementById("formId");
        function submitForm(event){
            //Preventing page refresh
            event.preventDefault();
            const parent = document.getElementById('message_window');
            const lastChild = parent.lastElementChild;
            lastChild.classList.add('flex-row-reverse')
            const msg = lastChild.querySelector('#messageBlock');
            msg.parentElement.classList.remove('bg-gray-300');
            msg.parentElement.classList.add('bg-green-600','text-white');
        }
        //Calling a function during form submission.
        form.addEventListener('submit', submitForm);

        document.body.addEventListener('htmx:oobAfterSwap', function(evt) {
            console.log(evt.target);
            const chatContainer = document.getElementById('message_window');
            const attr = evt.target.getAttribute("hx-swap-oob");
            if (attr === "outerHTML:#messageBlock") {
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }
        });

        // document.body.addEventListener()
    </script>
{% endblock %}


<!-- john --wordlist=/usr/share/wordlists/rockyou.txt pdf_hash.txt -->