{% load static %}
<div class="flex gap-5">
    <!-- <img class="w-9 h-9 rounded-full object-cover" src="{% static 'images/username1.jpeg' %}" alt=""> -->
    <div class="flex flex-col max-w-[50%] gap-2 ">
        <p class="text-gray-400 text-[0.9rem]">2:00pm</p>
        <div class="bg-gray-300 text-[1rem] py-2 px-3 rounded-tl-md rounded-br-md rounded-bl-md">
            {{message}}
        </div>
    </div>
</div>
<div class="flex gap-5 flex-row-reverse">
    <!-- <img class="w-9 h-9 rounded-full object-cover" src="{% static 'images/username.jpeg' %}" alt=""> -->
    <div class="flex flex-col max-w-[50%] items-end gap-2 ">
        <p class="text-gray-400 text-[0.9rem]">2:00pm</p>
        <div class="bg-green-600 text-[1rem] text-white   py-2 px-3 rounded-tl-md rounded-br-md rounded-bl-md">
            Hi how are you buddy Lorem
        </div>
    </div>
</div>