{% extends '_base.html' %}
{% load static %}
{% load my_filters %}

{% block body %}
<Section class="h-[calc(100vh-5rem)] flex gap-5 items-center flex-col justify-center">
    <div class="">
        <img class="mx-auto" src="{% static 'images/logo.png' %}" alt="">
        <h1 class="text-white text-2xl">Welcome to Chat App</h1>
    </div>
    <div class="bg-slate-800 p-10">
        {% for err in form.non_field_errors %}
        <div class="mb-2" style="color: red;">{{ err }}</div>
        {% endfor %}
        <form class="flex flex-col gap-5" method="POST" action="/signup/"> {% csrf_token %}
            {% for field in form %}
                <div class="flex flex-col gap-2 w-[25rem]">
                    <label for="#" class="text-gray-300">{{field.label}}</label>
                    {{field|addclass:'text-white outline-none border-b-1 border-b-gray-600'}}
                    <div style="color: rgb(248, 64, 64);">{{field.errors}}</div>
                </div>
            {% endfor %}
            <button class="text-white bg-green-600 p-3 rounded-md mt-5 cursor-pointer">Register</button>
        </form>
        <p class="mt-4 text-white text-center">Already have a account ? <a href="/signin" style="color: rgb(31, 165, 255);">Login in</a> </p>
    </div>
</Section>
{% endblock %}
