{% load static %}
{% load static tailwind_tags %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
    {% htmx_script %}
  </head>
  
  <body class="bg-slate-700">
    <section class="text-white bg-slate-800 flex justify-between px-[5%] h-[5rem]">
      <div class="flex items-center font-semibold font-serif text-3xl gap-3">
        <img class="w-15 h-15" src="{% static 'images/logo.png' %}" alt="">
        <h3 class="text-[1.5rem]">Chat App</h3>
      </div>
      <div class="flex items-center gap-10">
        <div class="flex px-4  rounded-md border-none bg-slate-700 overflow-hidden max-w-md mx-auto h-9">
          <input type="email" placeholder="Search"
            class="w-full outline-none bg-transparent text-gray-100 text-md" />
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px" class="fill-gray-100">
            <path
              d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
            </path>
          </svg>
        </div>
        <div class="flex items-center gap-5">
          <img class="w-9 h-9 rounded-full" src="{% static 'images/username.jpeg' %}" alt="">
          <h2 class="text-rose-50 text-1xl">Nagaraj M</h2>
        </div>
      </div>
    </section>
    {% block body %}
    {% endblock %}
  </body>
</html>